{{- with site.Params.homeInfoParams }}
<section class="max-w-4xl m-auto mt-10">
  <h1 class="text-5xl font-bold text-center">
    Consutoria em DevOps e Arquitetura de Soluções
  </h1>
  <div class="flex flex-col md:flex-row items-center gap-5 my-16">
    {{ $image := resources.Get "images/profile.jpg" }}
    <img src="{{ $image.RelPermalink }}" class="rounded-full" width="192" alt="Foto de Gustavo" />
    <p class="text-justify px-3">
      Meu nome é Gustavo, tenho mais de 13 anos de experiência ajudando
      startups e grandes empresas internacionais a superar desafios em DevOps e
      Arquitetura.<br /><br />
      Durante minha jornada, percebi que empresas de pequeno/médio porte
      encontram dificuldades para encontrar especialistas que compreendam suas
      necessidades únicas sem cobrar valores exorbitantes.
    </p>
  </div>
  <h2 class="mx-16 my-20 text-2xl text-center">
    Como consultor independente, eu ofereço serviços que são acessíveis e
    focados em resultados reais.
  </h2>
</section>
<section class="flex flex-col items-center max-w-7xl m-auto">
  <h2 class="text-2xl font-bold">Empresas que trabalhei</h2>
  <ul class="flex flex-col items-center md:flex-row gap-5 mt-10">
    <li class="flex flex-col items-center w-full">
      {{ $image := resources.Get "images/ibm.png" }}
      <img src="{{ $image.RelPermalink }}" class="h-52 object-contain" alt="IBM" />
      <p class="px-3 h-20">Instrutor, Mentor e Arquiteto de Software.</p>
    </li>
    <li class="flex flex-col items-center w-full gap-3">
      {{ $image := resources.Get "images/nectar.png" }}
      <img src="{{ $image.RelPermalink }}" class="h-52 object-contain" alt="Nectar CRM" />
      <p class="px-3 h-20">
        Grande transformção na infraestrutura e práticas DevOps.
      </p>
    </li>
    <li class="flex flex-col items-center w-full">
      {{ $image := resources.Get "images/tipspace.png" }}
      <img src="{{ $image.RelPermalink }}" class="h-52 object-contain" alt="Tipspace" />
      <p class="px-3 h-20">
        Migração de workloads, reduzindo custos em mais de 30%
      </p>
    </li>
    <li class="flex flex-col items-center w-full">
      {{ $image := resources.Get "images/souagro.png" }}
      <img src="{{ $image.RelPermalink }}" class="h-52 object-contain" alt="Sou Agro Soluções" />
      <p class="px-3 h-20">Aplicação de Observabilidade.</p>
    </li>
  </ul>
</section>
<div class="mt-20 max-w-7xl m-auto">
  <footer>{{ partial "social_icons.html" site.Params.socialIcons }}</footer>
</div>
{{- end -}}
