{{- with site.Params.homeInfoParams }}
<section class="max-w-4xl m-auto mt-10">
  <h1 class="text-5xl font-bold text-center p-3">
    Especialista em DevOps e Arquitetura de Soluções
  </h1>
  <div class="flex flex-col md:flex-row items-center gap-5 my-12">
    {{ $image := resources.Get "images/profile.jpg" }}
    <img src="{{ $image.RelPermalink }}" class="rounded-full" width="192" alt="Foto de Gustavo" />
    <h2 class="p-4 text-xl">
      Ajudo empresas novas no mercado a escalarem seu negócio, <strong>reduzir custos</strong> com
      tecnologia e <strong>aumentar a confiança</strong> de seus clientes.<br /><br />
      Com abordagem pragmática, sem indicações de ferramentas, e focado em <strong>resultados imediátos</strong>.
    </h2>
  </div>
  <div class="flex flex-col px-3 items-center mb-12">
    <a class="underline text-blue-600" href="https://calendly.com/gmtborges/30min" target="_blank">Marque uma primeira
      consultoria para
      avaliação do seu negócio!</a>
  </div>
</section>
<section class=" flex flex-col items-center max-w-7xl m-auto">
  <h2 class="text-2xl font-bold">Empresas que trabalhei</h2>
  <ul class="flex flex-col items-center md:flex-row gap-5 mt-10">
    <li class="flex flex-col items-center w-full">
      {{ $image := resources.Get "images/ibm.png" }}
      <img src="{{ $image.RelPermalink }}" class="h-52 object-contain" alt="IBM" />
      <p class="px-3 h-20">Instrutor, Mentor e Arquiteto de Software.</p>
    </li>
    <li class="flex flex-col items-center w-full gap-3">
      {{ $image := resources.Get "images/nectar.png" }}
      <img src="{{ $image.RelPermalink }}" class="h-52 object-contain" alt="Nectar CRM" />
      <p class="px-3 h-20">
        Grande transformção na infraestrutura e práticas DevOps.
      </p>
    </li>
    <li class="flex flex-col items-center w-full">
      {{ $image := resources.Get "images/tipspace.png" }}
      <img src="{{ $image.RelPermalink }}" class="h-52 object-contain" alt="Tipspace" />
      <p class="px-3 h-20">
        Migração de workloads, reduzindo custos em mais de 30%
      </p>
    </li>
    <li class="flex flex-col items-center w-full">
      {{ $image := resources.Get "images/souagro.png" }}
      <img src="{{ $image.RelPermalink }}" class="h-52 object-contain" alt="Sou Agro Soluções" />
      <p class="px-3 h-20">Aplicação de Observabilidade e Cybersecurity.</p>
    </li>
  </ul>
</section>
<div class="mt-20 max-w-7xl m-auto">
  <footer class="mr-2">{{ partial "social_icons.html" site.Params.socialIcons }}</footer>
</div>
{{- end -}}
